@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");


:root {

    /**
     * COLORS
     */

    /* --gold-crayola: hsl(38, 61%, 73%); */
    --gold-crayola: hsl(39, 32%, 75%);
    /* --pure-purple: hsl(277, 87%, 53%); */
    /* --pure-purple: #c918ec; */
    --pure-purple: #8100BE;
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);

    /**
     * GRADIENT COLOR
     */

    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%, transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent);

    /**
     * TYPOGRAPHY
     */

    /* font-family */
    --fontFamily-forum: 'Forum', cursive;
    --fontFamily-dm_sans: 'DM Sans', sans-serif;

    /* font-size */
    --fontSize-display-1: calc(1.3rem + 6.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /* font-weight */
    --weight-regular: 400;
    --weight-bold: 700;

    /* line-height */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* letter-spacing */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;

    /**
     * SPACING
     */

    --section-space: 70px;

    /**
     * SHADOW
     */

    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /**
     * BORDER RADIUS
     */

    --radius-24: 24px;
    --radius-circle: 50%;

    /**
     * TRANSITION
     */

    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

}




* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin {
    margin: 20px;
}

.mini-margin {
    margin: 8px;
}

h1 {
    font-weight: bold;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
    position: relative;
    /* width: 768px; */
    /* min-height: 480px; */
    width: 1300px;
    height: 800px;
    max-width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}


.overlay-container {
    display: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    right: 0;
    width: 50%;
    z-index: 1;
}

.form-container form {
    height: 100%;
    background: #fff;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

/* .form-container input {
    width: 100%;
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0; 
} */

button {
    /* background: #ff445c; */
    background: #8100BE;
    color: #fff;
    /* border: 1px solid #ff4b2b; */
    border: 1px solid #8100BE;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    transition: transform 80ms ease-in;
    cursor: pointer;

}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #490469;
}

.sign-up-container {
    left: 0;
    opacity: 0;
}

.overlay-container {
    display: block;
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
}

.overlay {
    position: relative;
    height: 100%;
    width: 200%;
    left: -100%;
    /* background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover; */
    background: linear-gradient(to right, #60237c, #8a08c7) no-repeat 0 0 / cover;
    color: #fff;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 97%;
}

.overlay-panel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

/* .overlay-left {
    transform: translateY(-20%);
} */

.container.right-panel-active {
    & .sign-in-container {
        transform: translateY(100%);
    }

    & .overlay-container {
        transform: translateX(-100%);
    }
}

.container.container.right-panel-active {
    & .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
    }

    & .overlay {
        transform: translateX(50%);
    }

    & .overlay-right {
        transform: translateY(20%);
    }
}

.social-container .social-link {
    padding: 1px;
    width: 40px;
    height: 40px;
    background: hsl(0, 0%, 97%);
    border-radius: 10px;
    color: #787878;
    transition: all .3s ease;
}

.social-container .social-link:hover {
    background: var(--pure-purple);
    color: var(--white);
}

.close a {
    position: absolute;
    right: 10px;
    /* Adjust this value to your desired horizontal position */
    z-index: 199;
    /* Make sure it's above other elements if necessary */
    padding: 1px;
    color: var(--eerie-black-1);
    border-radius: 10px;
    transition: all .3s ease;
}

.close a:hover {
    color: var(--davys-grey);
}

.btn {
    position: relative;
    /* color: var(--gold-crayola); */
    color: var(--pure-purple);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    /* text-transform: uppercase; */
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    /* border: 2px solid var(--gold-crayola); */
    border: 2px solid var(--pure-purple);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: var(--radius-circle);
    /* background-color: var(--gold-crayola); */
    background-color: var(--pure-purple);
    transition: var(--transition-2);
    z-index: -1;
}

.btn .text {
    transition: var(--transition-1);
    font-size: 17px;
    font-weight: bold;
    /* font-family: sans-serif; */
}

.btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 15px;
    font-weight: bold;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--smoky-black-1);
}

.btn:is(:hover, :focus-visible)::before {
    bottom: -50%;
}

.btn:is(:hover, :focus-visible) .text-1 {
    transform: translateY(-40px);
}

.btn:is(:hover, :focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-secondary {
    /* background-color: var(--gold-crayola); */
    background-color: var(--pure-purple);
    color: var(--black);
}

.btn-secondary::before {
    background-color: var(--smoky-black-1);
}

.btn-secondary .text-2 {
    color: var(--white);
}




/*-----------------------------------*\
  #PRELOAD
\*-----------------------------------*/

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: var(--gold-crayola); */
    background-color: var(--pure-purple);
    z-index: 1000;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
}

.preload>* {
    transition: var(--transition-1);
}

.preload.loaded>* {
    opacity: 0;
}

.preload.loaded {
    /* transition-delay: 250ms; */
    transition-delay: 250ms;
    transform: translateY(100%);
}

.circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(2turn);
    }
}

.preload .text-load {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: var(--smoky-black-3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--eerie-black-3);
    animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 80%;
    left: 0px;
    height: 40px;
}


.input_box:hover {
    color: var(--pure-purple);
}

.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #3d3c3c;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:hover {
    border-color: var(--pure-purple);
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box i.email,
.input_box i.password,
.input_box i.username,
.input_box i.number {
    left: 0;
    color: #707070;
}

.input_box i.email:hover,
.input_box i.password:hover,
.input_box i.username:hover,
.input_box i.number:hover {
    color: var(--pure-purple);
}

.input_box input:hover~i.email,
.input_box input:hover~i.password,
.input_box input:hover~i.username,
.input_box input:hover~i.number {
    color: var(--pure-purple);
}

.input_box input:focus~i.email,
.input_box input:focus~i.password,
.input_box input:focus~i.username,
.input_box input:focus~i.number {
    color: var(--pure-purple);
}

.input_box i.pw_hide {
    right: 1;
    font-size: 18px;
    cursor: pointer;
}